<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="about_style.css">

</head>
<body>
    <div class="container">
      <div class="container2">
        
         <h2 > ABOUT ME </h2>        
         <p id="para_intro">i'm nandini. Lorem ipsum dolor sit amet consectetur, adipisicing elit.
           Neque quidem voluptatibus ut natus doloribus sequi? Cumque molestias
           tempore nemo at hic sapiente voluptatem velit pariatur et, facere, minima illo illum.</p>
         <span class="span_info">Email</span><br/>
         <span class="span_text">nandinimishra0508@gmail.com</span><br/>
         <span class="span_info">Role</span><br/>
         <span class="span_text">software Engineer</span><br/>
         <span class="span_info">phone</span><br/>
         <span class="span_text">+91 9334822933</span><br/>
         <br/>
         <br/>
         <div class="button_container">
             <button>Resume</button>
             <button>Contact Me </button>
          </div>
        </div>
       <div><img src="static/girl.jpg" height="400px" width="400px"></div> 

    </div>
</body>
</html>