<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>INTRODUCTION</title>
    <link rel="stylesheet" type="text/css" href="style.css">
          
 
</head>
<body>
    <div class="container">
        <!--header section-->
        <div class="header_main_div"><a href=".." class="nav_tab"><h3>About</h3></a></div>
        <div class="header_main_div"><a href=".."  class="nav_tab"><h3>My work</h3></a></div>
        <div class="header_main_div"><a href=".."  class="nav_tab"><h3>Skills</h3></a></div>   
        <div class="header_main_div"><a href=".."  class="nav_tab"><h3>Contact</h3></a></div>   
   
    </div>
    
    <div class="hero"><!--hero section div-->
      <div id="hero_text">
        <!--text section div-->
      <p>
        <span style="font-size: 38px;"> Hi There ,</span> <br/><br>
        <span  style="font-size: 38px;">I'm Nandini Mishra</span><br/><br/>
        <span  style="font-size: 22px;">I Am into Web Development</span>
      </p>
      <button><b>About Me</b></button>
      </div>
      <div >
        <!--img div-->
        <img src="static/girl.jpg" id="hero_image">
      </div>
    </div> 
    
    <footer>
 
       <div class="footer_container">

        <div class="div_social"><a href=".."><img height="40px" width="40px" src="static/contact-mail.png"></a></div>
        <div  class="div_social"><a href=".."><img height="40px" width="40px" src="static/mail.png"></a></div>
        <div  class="div_social"><a href=".."><img height="40px" width="40px" src="static/discord.png"></a></div>
        <div  class="div_social"><a href=".."><img height="40px" width="40px" src="static/instagram.png"></a></div>
        <div  class="div_social"><a href=".."><img height="40px" width="40px" src="static/linkedin.png"></a></div>
       </div>
  
    </footer>
</body>
</html>